
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/DesignTimeBuild/.dtbcache.v2
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/FileContentIndex/30f619a1-b4d8-423d-b4b9-c640b6194064.vsidx
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/FileContentIndex/4aad1af4-5e52-4cce-9d04-8a617770d7e4.vsidx
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/FileContentIndex/7bd6efdf-d203-4a06-a85a-2fdcef1245fb.vsidx
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/FileContentIndex/f13d5d39-4652-43df-afab-4c658cf905db.vsidx
rs2-rent-sistem-api/.vs/rs2-rent-sistem-api/v17/.suo
